<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Document number:</strong>
    <%= employee.document_number %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= employee.birthday %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= employee.salary %>
  </p>

  <p>
    <strong>Inss discount:</strong>
    <%= employee.inss_discount %>
  </p>

</div>
