<div class="row justify-content-center align-items-center">
  <div class="col-10">
    <div><canvas id="employees_chart"></canvas></div>
  </div>
  <div class="col-12" style="margin-top: 80px">
    <h1>Lista de Funcionários por Faixa Salarial</h3>
    <hr />
    <% @employees_report.each do |rows| %>
      <h3 style="margin: 50px 0 20px 0"><%= rows[:label] %></h3>
      <table class="table table-striped table-bordered mb-6">
        <thead>
          <tr>
            <th scope="col"><%= Employee.human_attribute_name(:created_at) %></th>
            <th scope="col"><%= Employee.human_attribute_name(:name) %></th>
            <th scope="col"><%= Employee.human_attribute_name(:document_number) %></th>
            <th scope="col"><%= Employee.human_attribute_name(:birthday) %></th>
            <th scope="col"><%= Employee.human_attribute_name(:salary) %></th>
            <th scope="col"><%= Employee.human_attribute_name(:inss_discount) %></th>
          </tr>
        </thead>
        <tbody>
          <% rows[:employees].each do |data| %>
            <tr>
              <td><%= I18n.l(data.created_at, format: :long) %></td>
              <td><%= data.name %></td>
              <td><%= data.document_number %></td>
              <td><%= I18n.l(data.birthday) %></td>
              <td><%= humanized_money_with_symbol data.salary %></td>
              <td><%= humanized_money_with_symbol data.inss_discount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>