<div id="<%= dom_id contribution_salary_range %>">
  <p>
    <strong>Salary range number:</strong>
    <%= contribution_salary_range.salary_range_number %>
  </p>

  <p>
    <strong>Start salary range:</strong>
    <%= contribution_salary_range.start_salary_range %>
  </p>

  <p>
    <strong>End salary range:</strong>
    <%= contribution_salary_range.end_salary_range %>
  </p>

  <p>
    <strong>Aliquot:</strong>
    <%= contribution_salary_range.aliquot %>
  </p>

</div>
