<%= form_with(model: inss_contribution_salary_range) do |form| %>
  <% if inss_contribution_salary_range.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inss_contribution_salary_range.errors.count, "error") %> prohibited this inss_contribution_salary_range from being saved:</h2>

      <ul>
        <% inss_contribution_salary_range.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :salary_range_number, style: "display: block" %>
    <%= form.number_field :salary_range_number %>
  </div>

  <div>
    <%= form.label :start_salary_range, style: "display: block" %>
    <%= form.text_field :start_salary_range %>
  </div>

  <div>
    <%= form.label :end_salary_range, style: "display: block" %>
    <%= form.text_field :end_salary_range %>
  </div>

  <div>
    <%= form.label :aliquot, style: "display: block" %>
    <%= form.text_field :aliquot %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
